.App {
  text-align: center;
  /* overflow: hidden; */
  transition: all 0.3s ease;
}
.col{
  color: #4b4b4b;
  color: solid 1px rgb(185, 185, 185);
  color: #f0f8ff25;
  color: #F2F2F2;
  color: #a5a5a5;
  color: #e2e2e2;
  color: #11151d;
  color: #9b9b9b;
  color: #fc2f2f;
  background: linear-gradient(45deg, rgb(138, 212, 255) 0%, rgb(255, 255, 255) 100%);
  color: #ebebeb;
  background: #0000008a;

}

